## python for data analysis
* 파이썬 공식 튜토리얼 : https://docs.python.org/3/tutorial/index.html

## Zen of Python
* 파이썬의 철학이 잘 담겨있는 Zen of Python 을 출력해 봅니다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [2]:
# True를 출력해 보세요.
True

True

In [3]:
# False 를 출력해 보세요.
False

False

In [4]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
True == 1

True

In [5]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
False == 0

True

In [6]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == "1"

False

In [7]:
# 문자열 1과 True는 다릅니다.
True != "1"

True

In [8]:
# False 도 마찬가지 입니다. 
False == "0"

False

In [9]:
# False는 문자열 0과 다릅니다.
False != "0"

True

In [10]:
# and 연산으로 True 값 끼리 비교합니다.
# and 는 모든 값이 True 일때만 True 가 됩니다.
True and True

True

In [11]:
# and 는 조건 중 하나라도 False 라면 False가 됩니다.
True and False

False

In [12]:
# or 는 하나만 True 라도 True가 됩니다.
True or False

True

## Number and String
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [13]:
# 숫자 1을 출력해 보세요.
1

1

In [14]:
# 문자 1을 출력해 보세요.
"1"

'1'

In [15]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1)

int

In [16]:
# 문자 1의 데이터 타입을 출력해 보세요.
type("1")

str

In [17]:
# 문자 1과 숫자 1을 비교합니다.
1 == "1"

False

## Strings and Lists
* https://docs.python.org/3/tutorial/introduction.html#strings
* https://docs.python.org/3/tutorial/introduction.html#lists

In [18]:
# "Hello World!" 를 출력해 봅니다.
print("Hello World!")

Hello World!

In [19]:
# 주소 "경기도 성남시 분당구 정자동" 을 출력해 봅니다.
print("경기도 성남시 분당구 정자동")

경기도 성남시 분당구 정자동

|연산자|기능|
|--|--|
| == | 비교연산 |
| = | 할당연산 |

### strings

In [20]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"
til

'Today I Learned'

In [21]:
# 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [22]:
# 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

### lists

In [23]:
# 비어있는 리스트를 만듭니다.
[]

[]

In [24]:
# python과 java를 원소에 추가합니다.
["python", "java"]

['python', 'java']

In [25]:
# lang 라는 변수에 프로그래밍 언어명을 담아봅니다.
lang = ["python", "java", "c"]
lang

['python', 'java', 'c']

In [26]:
# lang 이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옵니다.
lang[0]

'python'

In [27]:
# 1번 인덱스를 가져옵니다.
lang[1]

'java'

In [28]:
# 마지막 인덱스를 가져옵니다.
lang[-1]

'c'

## Control Flow
* [4. More Control Flow Tools — Python documentation](https://docs.python.org/3/tutorial/controlflow.html)
* 제어문 - 조건문, 반복문

In [29]:
# 반복문을 통해 리스트의 원소를 하나씩 출력합니다.
for c in lang:
    print(c)

python
java
c

In [30]:
# 위 코드에서 스타벅스일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다
# 출력 결과가 아래의 순서로 나오도록 합니다.
# python
# 기타
# 기타
for c in lang:
    if c == "python":
        print(c)
    else:
        print("기타")

python
기타
기타

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

In [32]:
# for문과 if문을 함께 사용해 봅니다.
for i in range(5):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

python
java
python
java
python

## 실습
* editor 변수에 편집기명을 담아줍니다.

In [33]:
editor = ["vi", "emacs", "nano", "jupyter"]
editor

['vi', 'emacs', 'nano', 'jupyter']

In [34]:
# 리스트에 담겨진 값을 한번에 출력하고자 할 때 사용합니다.
# 원소별로 print문을 통해 출력해 봅니다.
for s in editor :
    print(s)

vi
emacs
nano
jupyter

In [35]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for i, s in enumerate(editor) :
    print(i, s)

0 vi
1 emacs
2 nano
3 jupyter

In [36]:
# 주소를 address 변수에 담습니다.
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 '

In [37]:
address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [38]:
# 문자열의 길이
len(address)

33

In [39]:
# 공백으로 문자열 분리
address_list = address.split(" ")
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [40]:
# 리스트의 길이
len(address_list)

8

### 문자열
* 슬라이싱, startswith, in 을 통해 문자열에 서울이 있는지 확인하기

In [41]:
# 슬라이싱으로 문자 가져오기
city = address[:2] 
city

'경기'

In [42]:
# startswith 를 사용하면 특정 문자로 시작하는지 여부를 확인할 수 있습니다.
address.startswith("경기")

True

In [43]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
"경기" in address

True

### 리스트
* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용할 수 있습니다. 
* 차이를 비교해 보세요.

In [44]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu 라는 변수에 담아보세요.
gu = address_list[1]
gu

'성남시'

In [45]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 동을 가져와 dong 이라는 변수에 담아보세요.
dong = address_list[2]
dong

'분당구'

In [46]:
# 리스트의 마지막을 가져옵니다.
address_list[-1]

'16층'

In [47]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [48]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 리스트에 포함되는지 봅니다.
"경기" in address_list

False

In [49]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "분당구"가 리스트에 포함되는지 봅니다.
"분당구" in address_list

True

## Dictionaries
* https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [50]:
# dict 자료형 - key:value
weekday_map = {0:'월', 1:'화', 2:'수', 3:'목',
              4:'금', 5:'토', 6:'일'}
weekday_map

{0: '월', 1: '화', 2: '수', 3: '목', 4: '금', 5: '토', 6: '일'}

In [51]:
# 인덱싱
weekday_map[0]

'월'

In [52]:
len(weekday_map)

7

In [53]:
for day in weekday_map:
    print(day, weekday_map[day])

0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [54]:
for i, day in enumerate(weekday_map):
    print(i, weekday_map[day])

0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [55]:
for i in range(7):
    print(weekday_map[i])

월
화
수
목
금
토
일

In [56]:
weekday = "월 화 수 목 금 토"
weekday_list = weekday.split()

for day in weekday_list:
    print(day)

월
화
수
목
금
토